PORT=3000
NODE_ENV=development
CORS_ORIGIN=http://127.0.0.1:5500

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=erp_pdv
DB_CONNECTION_LIMIT=10

JWT_SECRET=troque-este-segredo-em-producao
JWT_EXPIRES_IN=8h

STOCK_EXPIRING_SOON_DAYS=7
ALLOW_NEGATIVE_STOCK=false
